:root {
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    #f6ceec 10%,
    #d939cd 100%
  );
  --vp-home-hero-image-filter: blur(100px);
  /* brand按钮 */
  --vp-button-brand-bg: rgb(56, 189, 248);
  --vp-button-brand-hover-bg: rgb(14, 165, 233);
}

/* 条纹背景 */
.bg-stripe:hover {
  background-image: repeating-linear-gradient(
    45deg,
    hsl(0 0% 100%),
    hsl(0 0% 100%) 13px,
    hsl(0 0% 95%) 13px,
    hsl(0 0% 95%) 14px
  );
}

.dark .bg-stripe:hover {
  background-image: repeating-linear-gradient(
    45deg,
    hsl(202, 80%, 24%),
    hsl(202, 80%, 24%) 13px,
    hsl(200, 80%, 20%) 13px,
    hsl(200, 80%, 20%) 14px
  );
}

.VPSidebar::-webkit-scrollbar {
  @apply hidden;
}

/* 主页标题设置, 采用自定义的图片 */
.main .name {
  background-image: url("/title.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 出于 seo 考虑, 保留原始文字但是将其隐藏 */
.main .name .clip {
  visibility: hidden;
}

/* 移动端适配: 居中显示 */
@media (min-width: 960px) {
  .main .name {
    background-position: initial;
  }
}

/* 链接美化 */
.vp-doc a {
  @apply hover:text-blue-500 after:hover:opacity-100 dark:hover:text-blue-400;
}

/* 图片预览 */
.medium-zoom-overlay {
  background-color: var(--vp-c-bg) !important;
  z-index: 100;
}

.medium-zoom-overlay ~ img {
  z-index: 101;
}

.medium-zoom--opened .medium-zoom-overlay {
  opacity: 0.9 !important;
}

/* VPTeam页面调整margin */
.VPTeamPage {
  margin: 0 !important;
}